body {
  padding: 30px;
  background-color: #bdf3ff;
}
h1, h2{
 font-family: 'Luckiest Guy';
}
.question-row{
  display: none;
}

#final-row{
  display: none;
}

.winner-img{
  max-width: 300px;
  display: none;
}
